flask
flask-cors

# honeycomb.io
opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests

#watchtower for handling cloudwatch logs
watchtower

#rollbar for error tracking
blinker
rollbar

#X-Ray
aws-xray-sdk
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability